<ion-view view-title="Enquiry Detail">
  <ion-content ng-cloak ng-controller="enquiryDetailCtrl">
    <div class="item item-text-wrap  item-bg-new ">
      <div class="row " style="padding: 0px; ">
        <div class="col" style="padding: 0px;">

          
          <h2><span>Pulkit Bhardwaj</span></h2>
          <p><span>32</span> yrs / <span>M</span></p>
        </div>
        <div class="col " style="padding: 0px;">

          <h4><b>AGE : </b>32 yrs</h4>
          <h4><b>Mobile : </b>900870156</h4>
          <!--<h4><b>Home/Office : </b>011-88997678</h4>-->
          
          <h4><b>Email : </b>abc@xyz.com</h4>
        </div>

      </div>
      <br/>
       <i class="icon ion ion-clipboard energized" style="font-size:25px;margin-right:10px;float:left"></i>
      <p ><span >Enquiry id : 10089</span></p>
    </div>
    <div class="item">
      <p><b>Interested in: </b>Splendor Plus</p>
      <p><b>Expected date of purchase : </b>28-04-2016</p>
      <h4>
        <a  class="dark-grey-subtitle"><b>Exchange required : </b>Yes</a>
        <a  class="dark-grey-subtitle"><b>Finance required : </b>No</a>
      </h4>
    </div>
    <div class="item">
      <p><b>Exisisting : </b>Maestro</p>
      <h4>
        <a  class="dark-grey-subtitle"><b>Type : </b>120</a>
        <a  class="dark-grey-subtitle"><b>make : </b>2012</a>
       </h4>
    </div>
    <div class="item item-text-wrap">
      <p><b>Followup action : </b>Some followup action as defined or asked by customer</p>
    </div>

    <div class="row ">
      <div class="col card add_box">
        <p><b>Address 1 : </b>489, sec-21c, Near gol chowk, Gurgaon, 124001</p>
      </div>
      <div class="col card add_box">

        <p><b>Address 2 : </b>489, sec-21c, Near gol chowk, Gurgaon, 124001</p>
      </div>
    </div>
  </ion-content>
</ion-view>