<ion-view view-title="Enquiries">
  <ion-pane ng-controller="enquiryListCtrl">
    <fab-button target-id="">
      <i class="icon ion ion-android-add "></i>
    </fab-button>
    <button class="fab-button-new fab-size-48 fab-right-106 fab-bottom-20 assertive-bg">
      <i class="icon ion ion-android-add light"></i>
    </button>
    <button class="fab-button-new fab-size-48 fab-right-20 fab-bottom-106 balanced-bg">
      <i class="icon ion ion-android-add light"></i>
    </button>
    <ion-content>
      <div class="list">
        <a class="item item-icon-left" href="#" ng-click="showDetail()">
          <i class="icon ion-android-done-all balanced"></i> Pawan Kumar
          <p>
            The premium icon font for Ionic Framework. 100% free and open source. MIT Licensed.

          </p>

          <span class="item-note">
          <span class="pull-left margin-r-20">Splendor </span><span>28-04-2015</span>
          </span>
        </a>
      </div>
    </ion-content>
    

  </ion-pane>
</ion-view>