<ion-view cache-view="false" view-title="Enquiry Detail">
    <ion-content ng-cloak ng-controller="enquiryDetailCtrl">
        <div class="item item-text-wrap  item-bg-new ">
            <div class="row " style="padding: 0px; ">
                <div class="col in-black" style="padding: 0px;">


                    <h2><span ng-bind="sessionVariable.selected_enquiry.FST_NAME +' '+ sessionVariable.selected_enquiry.LAST_NAME">Pulkit Bhardwaj</span></h2>
                    <p class="s_item"><span ng-if="sessionVariable.selected_enquiry.AGE" ng-bind="sessionVariable.selected_enquiry.AGE + 'yrs / '">32</span>
                        <span ng-bind="sessionVariable.selected_enquiry.GENDER">M</span></p>
                </div>
                <div class="col in-black" style="padding: 0px;">

                    <h4><b>Mobile : </b><span class="underline" ng-bind="sessionVariable.selected_enquiry.CELL_PH_NUM" ng-click="call(sessionVariable.selected_enquiry.CELL_PH_NUM)"></span></h4>
                    <h4><b>Email : </b><span ng-bind="sessionVariable.selected_enquiry.EMAIL_ADDR" ng-click="email(sessionVariable.selected_enquiry.EMAIL_ADDR)"></span></h4>
                </div>

            </div>
            <br/>
            <i class="icon ion ion-clipboard energized" style="font-size:25px;margin-right:10px;float:left"></i>
            <p class="s_item"><span>Customer id : <span ng-bind="sessionVariable.selected_enquiry.X_CON_SEQ_NUM"></span></span>
            </p>

            <!--<button ng-click="jumpTo('app.editEnquiry')" class="animated fadeInUpBig fab-button-new t-20 r-20 size-48 red-bg ">
                <i class="icon ion ion-funnel"></i></button>-->
        </div>
        <div class="item">
            <p><b>Interested in: </b><span ng-bind="sessionVariable.selected_enquiry.X_MODEL_INTERESTED"></span></p>
            <p><b>Expected date of purchase : </b><span ng-bind="sessionVariable.selected_enquiry.EXPCTD_DT_PURCHASE"></span></p>
            <h4>
        <a  class="dark-grey-subtitle"><b>Exchange required: </b><span ng-bind="sessionVariable.selected_enquiry.X_EXCHANGE_REQUIRED"></span></a>
        <a  class="dark-grey-subtitle"><b>Finance required: </b><span ng-bind="sessionVariable.selected_enquiry.X_FINANCE_REQUIRED"></span></a>
       <a  class="dark-grey-subtitle"><b>Testride required: </b><span ng-bind="sessionVariable.selected_enquiry.X_TEST_RIDE_REQ"></span></a>
      </h4>
        </div>
        <div class="item">
            <p><b>Exisisting vehical type: </b><span ng-bind="sessionVariable.selected_enquiry.EXISTING_VEHICLE"></span></p>
            <!--<h4>
        <a  class="dark-grey-subtitle"><b>Type : </b>120</a>
        <a  class="dark-grey-subtitle"><b>make : </b>2012</a>
       </h4>-->
        </div>
        <div class="item item-text-wrap">
            <p><b>Followup comment : </b><span ng-bind="sessionVariable.selected_enquiry.FOLLOWUP_COMMENTS ? sessionVariable.selected_enquiry.FOLLOWUP_COMMENTS : '-NA-'"></span></p>
        </div>
        <div class="item item-text-wrap">
            <p><b>Next followup date : </b><span ng-bind="sessionVariable.selected_enquiry.FOLLOW_DATE">27-11-2015</span></p>
        </div>


        <div class="item">
            <div class="button-bar">
                <a class="button button-small button-assertive  bolder" ng-click="showCloseEnquiryModal()">Close</a>
                <a class="button button-dark button-small  bolder" ng-click="showFollowupEnquiryModal()">Followup</a>
                <a class="button button-small button-assertive  bolder" ng-click="editEnquiry()">Edit</a>
            </div>
        </div>
    </ion-content>
</ion-view>