<ion-view cache-view="false" view-title="Follow-ups">

  <ion-content ng-controller="pendingFollowupListCtrl" ng-init="init()">

    <div class="item stable-bg padding-10" align="center" ng-hide="!dataRefreshing">
      <div class="col v-tab-item ">
        <ion-spinner icon="spiral " style="stroke:red;"></ion-spinner>
        <br/> <span class="dark">Refreshing Data</span>
      </div>
    </div>
    <ion-list can-swipe>
      <ion-item class=" item-text-wrap item-icon-right" ng-click="showDetail(item)" ng-repeat="item in arrayList.follow_up">
        <i class="icon ion ion-alert assertive"></i>
        <p> <span ng-bind="item.FST_NAME +' '+ item.LAST_NAME" class="margin-r-20">Pulkit</span> Enquiry Id : <span ng-bind="item.ENQUIRY_ID">10897</span></p>

        <p>Model : <span ng-bind="item.X_MODEL_INTERESTED">Splender Pro</span></p>
        <p>Date of enquiry : <span class="margin-r-20" ng-bind="item.ENQUIRY_ENTRY_DATE">27-10-2015</span></p>
        <p>Expected date of purchase : <span ng-bind="item.EXPCTD_DT_PURCHASE">27-11-2015</span></p>
        <p ng-bind="checkCount()"></p>
        <ion-option-button class="button-balanced" ng-click="showCloseEnquiryModal(item)">
          Close
        </ion-option-button>
        <ion-option-button class="button-dark" ng-click="showFollowupEnquiryModal(item)">
          Followup
        </ion-option-button>
      </ion-item>

      <ion-item class="item-icon-left item-text-wrap assertive" ng-click="jumpTo('app.dashboard')" ng-if="arrayList.follow_up == [] || arrayList.follow_up == ''">
        <i class="icon ion ion-android-happy"></i> Enjoy !!
        <p>As no open followup pending</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>