<ion-view  hide-nav-bar="true" ng-controller="searchFilterCtrl" >
    <ion-header-bar class="light">
        <h1 class="title light">Search Filter</h1>
        <button ng-click="closeModal()" class="animated fadeInUpBig fab-button-new t-20 r-20 size-48 light-bg ">
            <i class="icon ion ion-close"></i></button>
    </ion-header-bar>
    <fab-button target-id="" class="animated zoomInDown" ng-click="setSearchFilter()">
        <i class="icon ion ion-ios-arrow-forward "></i>
    </fab-button>
    <ion-content class="filterPage"  ng-init="init()">
        <div class="item item-divider" style="border:0px;">
            &nbsp;
        </div>
        <div class="item  item-toggle stable-bg" style="border-top:0px">
            Exp purchase date
            <label class="toggle toggle-assertive">
                <input type="checkbox" ng-model="search_filter.IsExpDate">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>

        <div class="item padding-0" ng-disabled="!search_filter.IsExpDate">
            <div class="row">
                <div class="col r-border date-col" ng-click="pickDate(dateModel.EXP_FROM)">
                    <h2 class="dark">From </h2>
                    <p ng-bind=" getDateWithMonthName(search_filter.EXP_FROM)" ng-if="search_filter.IsExpDate">23 oct, 2015</p>
                    <p ng-if="!search_filter.EXP_FROM || !search_filter.IsExpDate">--Select--</p>
                </div>
                <div class="col date-col" ng-click="pickDate(dateModel.EXP_TO)">

                    <h2 class="dark">To</h2>
                    <p ng-bind=" getDateWithMonthName(search_filter.EXP_TO)" ng-if="search_filter.IsExpDate">23 oct, 2015</p>
                    <p ng-if="!search_filter.EXP_TO || !search_filter.IsExpDate">--Select--</p>
                </div>
            </div>
        </div>

        <div class="item  item-toggle stable-bg">
            Next followup date
            <label class="toggle toggle-assertive">
                <input type="checkbox" ng-model="search_filter.IsNextDate">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>

        <div class="item padding-0">
            <div class="row">
                <div class="col  date-col" ng-click="pickDate(dateModel.NXT)">
                    <h2 class="dark">Date  </h2>
                    <p ng-bind=" getDateWithMonthName(search_filter.NXT)" ng-if="search_filter.IsNextDate">23 oct, 2015</p>
                    <p ng-if="!search_filter.NXT || !search_filter.IsNextDate">--Select--</p>
                </div>
            </div>
        </div>


        <!--<div class="item item-divider">
            Model
        </div>-->
        <div class="item item-input item-select stable-bg">
            <div class="input-label">
                Model
            </div>
            <select class="red-select" ng-model="search_filter.MODEL">
                <option value="">--select--</option>
                <option ng-repeat="item in sessionVariable.model_list" ng-if="item.make_id == 35" value="{{item.model_name}}">{{item.model_name}}
                </option>
            </select>
        </div>

        <div class="item">


            <div class="button-bar">
                <button ng-class="{'button button-small button-assertive' : search_filter.finance == 1,
                            'button button-small button-assertive button-outline' : search_filter.finance != 1}" ng-click="setFinance(1)">All</button>
                <button ng-class="{'button button-small button-assertive' : search_filter.finance == 2,
                            'button button-small button-assertive button-outline' : search_filter.finance != 2}" ng-click="setFinance(2)">Finance</button>
                <button ng-class="{'button button-small button-assertive' : search_filter.finance == 3,
                            'button button-small button-assertive button-outline' : search_filter.finance != 3}" ng-click="setFinance(3)">Non-Finance</button>
            </div>
        </div>

        <!--
        <div class="item item-input item-select stable-bg">
            <div class="input-label">
                DSE Name
            </div>
            <select class="red-select">
                <option>Arun Bhatia</option>
                <option selected>Mohit</option>
                <option>Nitin</option>
            </select>
        </div>-->
    </ion-content>
</ion-view>