<ion-view cache-view="false" ng-controller="createNewEnquiryCtrl" view-title="Add New Enquiry" class="black-bg" ng-init="init()">

    <ion-content class=" has-header">
        <div class="card">


            <div class="item item-input item-select item-text-wrap " style="background-color: #CBCBCB; font-weight: bold">
                <div class="input-label">
                    Model interested in
                </div>
                <select class="red-select" ng-model="temp_cont_enq.model_interested" style="width: 50% !important; align:center">
                    <option value="">--select--</option>
                    <option ng-repeat="item in sessionVariable.model_list" ng-if="item.make_id == 35" value="{{item.model_name}}">{{item.model_name}}
                    </option>
                </select>
            </div>


            <div class="item padding-0 item-text-wrap">
                <div class="row">
                    <div class="col r-border date-col">
                        <ion-checkbox ng-model="temp_cont_enq.exchange_req">Exchange Required</ion-checkbox>
                    </div>
                    <div class="col date-col">
                        <ion-checkbox ng-model="temp_cont_enq.finance_req">Finance Required</ion-checkbox>
                    </div>
                </div>
            </div>


            <!--<label class="item item-input">
                <span class="input-label">Expected date of purchase</span>
                <input type="date" placeholder="eg. 24-01-2000">


            </label>-->



            <!--<div class="item item-divider stable-bg">-->
            <!--Next followup-->
            <!--</div>-->

            <div class="item padding-0 item-text-wrap">
                <div class="row">
                    <div class="col r-border date-col" ng-click="pickDate('fol')">
                        <h2 class="dark">Next followup date</h2>

                        <p ng-bind="getDateWithMonthName(temp_cont_enq.fol_date)">23 oct, 2015</p>
                        <p ng-bind="getFolDateWithMonthName(temp_cont_enq.fol_date)" ng-if="!temp_cont_enq.fol_date">-- select --</p>

                        <!--<p ng-if="!temp_cont_enq.fol_date">&#45;&#45;Select&#45;&#45;</p>-->
                    </div>
                    <div class="col date-col" ng-click="pickDate('exp')">
                        <h2 class="dark">Expected date of purchase</h2>

                        <p ng-bind="getDateWithMonthName(temp_cont_enq.exp_purchase_date)">23 oct, 2015</p>

                        <p ng-if="!temp_cont_enq.exp_purchase_date">-- select --</p>
                    </div>
                </div>
            </div>



            <label class="item item-input item-stacked-label">
                <span class="input-label">Remark</span>
                <input type="text" ng-model="temp_cont_enq.remarks" placeholder="eg. anything worth noting">
            </label>
        </div>

        <!--<div class="card">-->
        <!-- -->

        <!--</div>-->



        <div class="card">
            <label class="item item-input item-select">
                <div class="input-label">
                    Existing Vehicle
                </div>
                <select ng-model="temp_cont_enq.existVeh" ng-changed="onExistVeh_Change()">
                    <option value="" selected>Select</option>
                    <option ng-repeat="item in veh_type_list" value="{{item.id}}">{{item.type}}</option>
                </select>
            </label>


            <label ng-if="temp_cont_enq.existVeh == 1" class="item item-input item-select" ng-class="{'item-stable' : !temp_cont_enq.existVeh}">
                <div class="input-label">
                    Make
                </div>
                <select ng-model="temp_cont_enq.existMake" ng-changed="onExistMake_Change()" ng-disabled="!temp_cont_enq.existVeh">
                    <option value="" selected>select</option>
                    <option ng-repeat="item in sessionVariable.make_list" value="{{item.id}}">{{item.make_name}}</option>
                </select>
            </label>

            <label ng-if="temp_cont_enq.existVeh == 1" class="item item-input item-select" ng-class="{'item-stable' : !temp_cont_enq.existMake}">
                <div class="input-label">
                    Model

                    <!--{{sessionVariable.model_list}}-->
                </div>
                <select ng-model="temp_cont_enq.existModel" ng-changed="onExistModel_Change()" ng-disabled="!temp_cont_enq.existMake">
                    <option value="" selected>select</option>
                    <option ng-repeat="item in sessionVariable.model_interested" value="{{item.model_name}}">{{item.model_name}}</option>
                </select>
            </label>


        </div>
        <div style="margin: 0px 10px">
            <button class="button button-block button-assertive" ng-click="saveTempEnquiry()">Submit</button>
        </div>
        <br/>
        <br/>
        <br/>
    </ion-content>
    <!--<div class="bar bar-footer " style="background: transparent"> 
        <button class="button button-balanced pull-right padding" ng-click="saveTempEnquiry()">Next</button>
    </div>-->
</ion-view>