<ion-view ng-controller="createEnquiryCtrl" view-title="Create Enquiry" class="black-bg">
    <ion-content class=" has-header" ng-init="init()">
        <div class="card">


            <div class="item item-input item-select item-text-wrap " style="background-color: #CBCBCB; font-weight: bold">
                <div class="input-label">
                    Model
                    <!--Model interested in-->
                </div>
                <select class="red-select" ng-change="fetchCampaign(sessionVariable.temp_cont_enq.model_interested)" ng-model="sessionVariable.temp_cont_enq.model_interested"
                style="width: 50% !important; align:center">
                    <option value="">--select--</option>
                    <option ng-repeat="item in sessionVariable.model_interested" value="{{item.model_name}}">{{item.model_name}}
                    </option>
                </select>
            </div>


            <div class="item padding-0 item-text-wrap">
                <div class="row">
                    <div class="col r-border date-col">
                        <ion-checkbox ng-model="sessionVariable.temp_cont_enq.exchange_req">Exchange Required</ion-checkbox>
                    </div>
                    <div class="col date-col">
                        <ion-checkbox ng-model="sessionVariable.temp_cont_enq.finance_req">Finance Required</ion-checkbox>
                    </div>
                </div>
            </div>
            <div class="item padding-0 item-text-wrap">
                <div class="row">
                    <div class="col date-col">
                        <ion-checkbox ng-model="sessionVariable.temp_cont_enq.test_ride">Testride Required</ion-checkbox>
                    </div>
                </div>
            </div>


            <div class="item padding-0 item-text-wrap">
                <div class="row">
                    <div class="col r-border date-col" ng-click="pickDate('fol')">
                        <h2 class="dark">Next followup date</h2>

                        <p ng-bind="getDateWithMonthName(sessionVariable.temp_cont_enq.fol_date)">23 oct, 2015</p>
                        <p ng-bind="getFolDateWithMonthName(sessionVariable.temp_cont_enq.fol_date)" ng-if="!sessionVariable.temp_cont_enq.fol_date">-- select --</p>
                    </div>

                    <div class="col date-col" ng-click="pickDate('exp')">
                        <h2 class="dark">Expected date of purchase </h2>

                        <p ng-bind="getDateWithMonthName(sessionVariable.temp_cont_enq.exp_purchase_date)">23 oct, 2015</p>

                        <p ng-if="!sessionVariable.temp_cont_enq.exp_purchase_date">-- select --</p>
                    </div>
                </div>
            </div>



            <label class="item item-input item-stacked-label">
                <span class="input-label">Remark</span>
                <input type="text" ng-model="sessionVariable.temp_cont_enq.remarks" placeholder="eg. anything worth noting">
            </label>
        </div>



        <div class="card">
            <label class="item item-input item-select">
                <div class="input-label">
                    Existing Vehicle
                </div>
                <select ng-model="sessionVariable.temp_cont_enq.existVeh" ng-changed="onExistVeh_Change()">
                    <option value="" selected>Select</option>
                    <!--<option value="Two Wheeler">Two Wheeler</option>
                        <option value="Four Wheeler">Four Wheeler</option>
                        <option value="First Time Buyer">First Time Buyer</option>-->
                    <option ng-repeat="item in veh_type_list" value="{{item.id}}">{{item.type}}</option>
                </select>
            </label>


            <label ng-if="sessionVariable.temp_cont_enq.existVeh == 1" class="item item-input item-select" ng-class="{'item-stable' : !sessionVariable.temp_cont_enq.existVeh}">
                <div class="input-label">
                    Make
                </div>
                <select ng-model="sessionVariable.temp_cont_enq.existMake" ng-changed="onExistMake_Change()" ng-disabled="!sessionVariable.temp_cont_enq.existVeh">
                    <option value="" selected>select</option>
                    <option ng-repeat="item in sessionVariable.make_list" value="{{item.id}}">{{item.make_name}}</option>
                </select>
            </label>

            <label ng-if="sessionVariable.temp_cont_enq.existVeh == 1" class="item item-input item-select" ng-class="{'item-stable' : !sessionVariable.temp_cont_enq.existMake}">
                <div class="input-label">
                    Model

                    <!--{{sessionVariable.model_list}}-->
                </div>
                <select ng-model="sessionVariable.temp_cont_enq.existModel" ng-changed="onExistModel_Change()" ng-disabled="!sessionVariable.temp_cont_enq.existMake">
                    <option value="" selected>select</option>
                    <option ng-repeat="item in sessionVariable.model_list" ng-if="sessionVariable.temp_cont_enq.existMake == item.make_id" value="{{item.model_name}}">{{item.model_name}}</option>
                </select>
            </label>


        </div>

        <div class="card" ng-if="sessionVariable.temp_cont_enq.model_interested">
            <div class="item item-divider" style="background-color: #CBCBCB; font-weight: bold">
                Campaigns
            </div>

            <div class="item item-text-wrap padding-0" ng-repeat="item in sessionVariable.campaign.campaign_data ">
                <ion-checkbox ng-model="item.check" ng-change="onChangeCampaign($index)" ng-checked="item.check" ng-if="!item.model || item.model == sessionVariable.temp_cont_enq.model_interested">
                    <p ng-bind="item.campaign_name + ' ('+ item.camp_type +')' "></p>
                    <p ng-bind="'Source: ' + item.camp_source + ', Status: ' + item.status"></p>
                    <p ng-bind="'Date: ' + item.start_date +' to '+ (item.end_date?item.end_date:'-NA-')"></p>
                    <p ng-bind="'Category: ' + item.category + ', Sub-Category: ' + item.sub_category"></p>
                </ion-checkbox>
            </div>
        </div>

        <div style="margin: 0px 10px">
            <button class="button button-block button-assertive" ng-click="saveTempEnquiry()">Submit</button>
        </div>
        <br/>
        <br/>
        <br/>
    </ion-content>
</ion-view>