<ion-view view-title="Vehicle Detail">
  <ion-content ng-controller="vehicleDetailCtrl">

    <div class="item item-divider">
      Goodlife Detail
    </div>
    <div class="item">
      <p>Card number : <span>109977</span></p>
      <p>Current points : <span>107</span></p>
    </div>
    <div class="item item-divider">
      Service Detail
    </div>
    <div class="item">
      <p>Last Service Date : <span>25-09-2015</span></p>
      <p>Next Service Date : <span>25-12-2015</span></p>
    </div>
    <div class="item item-divider">
      Insurance Detail
    </div>
    <div class="item">
      <p>Expiry date : <span>27-10-2030</span></p>
      <p>Policy number : <span>109876</span></p>
      <p>Insurance company : <span>Hero Finance</span></p>
    </div>


    <!--{{arrayList.enquiries}}-->
  </ion-content>
</ion-view>