<ion-view view-title="Contact Detail">

    <ion-content ng-controller="contactDetailCtrl" ng-cloak>
        <div class="item item-text-wrap  black-bg ">
            <div class="row " style="padding: 0px; ">
                <div class="col" style="padding: 0px;">

                    <h2><span>Pulkit Bhardwaj</span></h2>
                    <p class="s_item"><span>32</span> yrs / <span>M</span></p>
                    <!--<p>+91-9999999999</h4>-->
                </div>
                <div class="col " style="padding: 0px;">


                    <h4><b>Mobile : </b>90q87w156</h4>
                    <!--<h4><b>Home/Office : </b>011-88997678</h4>-->
                    <h4><b>Email : </b>abc@xyz.com</h4>

                    <h4><b>state : </b>Haryana</h4>
                    <h4><b>District : </b>Faridabad</h4>
                    <h4><b>Tehsil : </b>Badkhal</h4>
                    <h4><b>City : </b>Faridabad</h4>
                </div>

            </div>
            <br/>
            <i class="icon ion ion-card energized" style="font-size:25px;margin-right:10px;float:left"></i>
            <p class="s_item"><span>Customer id : 1008981891</span></p>
        </div>

        <div class="item item-divider">
            Enquiries
        </div>
        <ion-list can-swipe>
            <ion-item class=" item-text-wrap item-icon-right" ng-repeat="item in arrayList.enquiries" ng-click="jumpTo('app.enquiryDetail')">
                <i class="icon ion ion-alert assertive"></i>

                <p>Enquiry No : <span class="margin-r-20" ng-bind="item.number">10897</span> Model : <span ng-bind="item.model">Splender Pro</span></p>
                <p>Date of enquiry : <span class="margin-r-20" ng-bind="item.doe">27-10-2015</span></p>
                <p>Expected date of purchase : <span ng-bind="item.dop">27-11-2015</span></p>

                <ion-option-button class="button-balanced" ng-click="open_CloseEnquiryModal($index)">
                    Close
                </ion-option-button>
                <ion-option-button class="button-dark" ng-click="open_FollEnquiryModal($index)">
                    Followup
                </ion-option-button>
            </ion-item>

            <ion-item class="item-icon-left item-text-wrap assertive" ng-click="jumpTo('app.createNewEnquiry')" ng-if="arrayList.enquiries == [] || arrayList.enquiries == ''">
                <i class="icon ion ion-plus-circled"></i> Add new enquiry
                <p>As no open enquiry pending, you can add new enquiry.</p>
            </ion-item>
        </ion-list>



        <div class="item item-divider">
            Vehicle Detail
        </div>

        <div class="item item-text-wrap row-col-pad-0" ng-repeat="item in arrayList.vehicles" ng-click="jumpTo('app.vehicleDetail')">

            <div class="row">
                <div class="col">
                    <p class="dark">Model : <span ng-bind="item.model">Splendor</span></p>
                    <p class="dark">Variant : <span ng-bind="item.variant">Pro</span></p>
                    <p class="dark">Colour : <span ng-bind="item.color">Black</span></p>
                </div>
                <div class="col">
                    <p class="dark">VIN no. : <span ng-bind="item.vin">1927vRYYT</span></p>
                    <p class="dark">DOP : <span ng-bind="item.dop"></span></p>
                    <p class="dark">Dealership : <span ng-bind="item.dealership">Black</span></p>
                </div>
            </div>
            <p class="dark">SKU Description : <span ng-bind="item.sku">1927vRYYT bla bla bla .. ha</span></p>

        </div>

        <!--{{arrayList.enquiries}}-->

        
    </ion-content>
</ion-view>