<ion-side-menus enable-menu-with-back-views="true">
  
    
  <ion-side-menu-content>
    
    <ion-nav-bar class="light" >
      <ion-nav-back-button  style="font-weight: bold; color: white;">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon " style="color: black;"  menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <!--<a ng-if="headerButton.showAddEnquiry" href="#/app/createEnquiry" class="button button-clear icon-right ion-ios-plus button-light animated zoomInUp"></a>-->
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent">
      <button ng-if="headerButton.showFilter" 
      ng-click="jumpTo('app.searchFilter')"  ng-controller="searchEnquiryListCtrl"
      class="animated fadeInUpBig fab-button-new t-20 r-20 size-48 light-bg ">
      <i class="icon ion ion-funnel"></i></button>
    </ion-nav-view>
      
  </ion-side-menu-content>

  <ion-side-menu side="left" >
    <!--<ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>-->
    <!--<div class="button icon ion-gear-a" style="position : fixed; top : 10px; right: 10px; width: 48px; height: 48px;"></div>-->
    <ion-content class="dark-bg " >
      <ion-list class="dark-bg sidepanel">
        <a class="item  item-avatar  dark-bg" >
        <img src="{{sessionVariable.login_data.pic?sessionVariable.login_data.pic:'img/profile-empty.jpg'}}">
          <h2 ng-bind="sessionVariable.username">Hritik</h2>
          <!--<p class="s_item">Last login : 23/07/2015</p>-->
          <p class="s_item" ng-bind="'version : '+ sessionVariable.version"></p>
        </a>
        <ion-item menu-close ng-click="jumpTo('app.dashboard')" class="s_item dark-bg item-icon-left">
          <i class="icon ion ion-home" ></i>
          Home
        </ion-item>
        <ion-item menu-close ng-click="jumpTo('app.followupList')" class="s_item dark-bg item-icon-left">
          <i class="icon ion ion-calendar" ></i>
          Today's followup
        </ion-item>
        <ion-item menu-close ng-click="jumpTo('app.pendingFollowupList')" class="s_item dark-bg item-icon-left">
          <i class="icon ion ion-ios-calendar" ></i>
          Pending followup
        </ion-item>
        <ion-item menu-close ng-click="jumpTo('app.searchEnquiryList')"  class="s_item dark-bg item-icon-left">
            <i class="icon ion ion-android-search" ></i>
          Search enquiry
        </ion-item>
        <ion-item menu-close class="s_item dark-bg item-icon-left" ng-click="askLogout()">
          <i class="icon ion ion-log-out"></i>
          Logout
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>